<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include("partials/_head") %>
    <link rel="stylesheet" type="text/css" href="/assets/css/profil/main.css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
  </head>
  
  <body>
  <%- include("partials/_navbar") %>

  
  <div class='ui container segment' id='ft_main'>
  <p>ok...</p>
  </div>

<%- include("partials/_footer") %>

<script>  
  
toastr.options = {
  "closeButton": true,
  "newestOnTop": true,
  "progressBar": true,
  "positionClass": "toast-top-right",
  "preventDuplicates": true,
  "showDuration": "300",
  "hideDuration": "1000",
  "timeOut": "5000",
  "extendedTimeOut": "1000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
}

<% if (locals.toastr && locals.toastr.error) { %>
  toastr["error"]("<%= toastr.error[0] %>","<%= toastr.error[1] %>")
<% } %>
<% if (locals.toastr && locals.toastr.success) { %>
  toastr["success"]("<%= toastr.success[0] %>", "<%= toastr.success[1] %>")
<% } %>

var socket = io.connect('');
socket.on('connect', data => {
  // socket.emit('join', "I am here!");
});
socket.on('messages', data => {
  console.log(data);
})

</script>

