<%- include("_header") %>
        <div class="ui centered grid" id="registerform">
            <div class="six wide tablet eight wide column">
            <div class="ui message" id="header">
                <div class="ui image">
                    <img src="../logo.png">
                </div>
            </div>
            <form action="/login" method="post" class="ui form attached fluid segment">
                <% if (locals.flash && locals.flash.error) { %>
                    <div class="ui negative message"><ul>
                    <% for (error of flash.error) { %>
                        <li><%= error %></li>
                    <% } %>
                    </ul></div>
                <% } %>
                <div class="field">
                    <label>E-mail</label>
                    <div class="ui left icon input">
                        <i class="mail icon"></i>
                        <input type="email" name="email" onfocus="this.placeholder=''" onblur="this.placeholder='E-mail address'" placeholder="E-mail address">
                    </div>
                </div>
                <div class="field">
                    <label>Password</label>
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" onfocus="this.placeholder=''" onblur="this.placeholder='Password'" placeholder="Password">
                    </div>
                </div>
                <div class="ui animated large fade fluid violet button" type="submit" onClick="sendForm()">
                <div class="visible content">Login</div>
                <div class="hidden content"><i class="icon right arrow"></i></div>
                </div>
                <a href="/reset" id="forgot"><center>Forgot password</center></a>
                <div class="field">
                <div class="ui horizontal divider" id="divider">new to matcha ?</div>
                <a href="/register"><div class="ui basic large violet fluid button">Register</div></a>
                </div>
            </form>
            </div>
        </div>
    </div>
<%- include("_footer") %>
<script>
$('form').form({
    inline: true,
    fields: {
        email: { identifier: 'email', rules: [{ type: 'email', prompt: 'Please enter a valid email' }] },
        password: { identifier: 'password', rules: [{ type: 'empty', prompt: 'Please enter your password' }, { type: 'minLength[8]', prompt: 'Your password must be at least {ruleValue} characters'}] }
    }
});
toastr.options = {
  "closeButton": true,
  "newestOnTop": true,
  "progressBar": true,
  "positionClass": "toast-top-right",
  "preventDuplicates": true,
  "showDuration": "300",
  "hideDuration": "1000",
  "timeOut": "5000",
  "extendedTimeOut": "1000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
}
<% if (locals.toastr && locals.toastr.error) { %>
    toastr["error"]("<%= toastr.error[0] %>","<%= toastr.error[1] %>")
<% } %>
<% if (locals.toastr && locals.toastr.success) { %>
    toastr["success"]("<%= toastr.success[0] %>", "<%= toastr.success[1] %>")
<% } %>
</script>